<h1>Sign up to TTmanagement, its easy and free :)</h1>

<strong> Your username will be generated from your name.</strong>
<br> </br>
<b>Example:</b>
<br> </br>
<b>Firstname: </b> <mark> Mike </mark>
<br> </br>
<b>Lastname: </b> <mark> Strongleg </mark>
<br> </br>
<b>Generated username: </b> <mark> MikeStrongleg </mark>

<br> </br>

<%= render 'form' %>

<%= link_to 'Back', players_path %>
